@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&display=swap');

.h-96 {
    height: 24rem;
}

.logo-large {
    font-family: 'IM Fell French Canon SC', serif;
    font-size: 50px;
}

.logo-medium {
    font-family: 'IM Fell French Canon SC', serif;
    font-size: 35px;
}

.logo-small {
    font-family: 'IM Fell French Canon SC', serif;
    font-size: 20px;
}


.top-navbar-item {
    @apply text-sm font-semibold pb-2 border-b-2 border-solid border-transparent;
}

.top-navbar-item:hover {
    @apply border-pink-600 text-pink-600;
}

.btn {
    @apply text-white font-medium py-3 px-4 rounded-lg;
}

.btn-pink {
    @apply btn bg-pink-600;
}

.btn-pink:hover {
    @apply bg-pink-800;
}

.btn-green {
    @apply btn bg-green-500;
}

.btn-green:hover {
    @apply bg-green-600;
}

.label {
    @apply block font-bold text-gray-700 text-sm;
}

.input {
    @apply appearance-none bg-gray-300 border rounded leading-tight py-2 px-2 shadow;
}

.input-text {
    @apply input text-gray-700;
}

.input-text:focus {
    @apply outline-none bg-white border-pink-600;
}

.input-option {
    @apply input text-gray-700;
}

.input-option:hover {
    @apply input outline-none bg-white border-pink-600;
}




