@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&display=swap');

.h-96 {
    height: 24rem;
}

.logo-large {
    font-family: 'IM Fell French Canon SC', serif;
    font-size: 50px;
}

.logo-medium {
    font-family: 'IM Fell French Canon SC', serif;
    font-size: 35px;
}

.logo-small {
    font-family: 'IM Fell French Canon SC', serif;
    font-size: 20px;
}


.top-navbar-item {
    @apply .text-sm .font-semibold .pb-2 .border-b-2 .border-solid .border-transparent;
}

.top-navbar-item:hover {
    @apply .border-pink-600 .text-pink-600;
}

.btn {
    @apply .text-white .font-medium .border .rounded-lg .px-2 .py-2 .cursor-pointer;
}

.btn-pink {
    @apply .btn .bg-pink-600;
}

.btn-circle {
    @apply .inline-block .flex .text-white .h-12 .w-12 .border .rounded-full .justify-center .items-center .cursor-pointer;
}

.btn-circle-pink {
    @apply .btn-circle .bg-pink-600
}

.btn-circle-pink:hover {
    @apply .btn-circle .bg-pink-800
}

.btn-pink:hover {
    @apply .bg-pink-800;
}

.btn-green {
    @apply .btn .bg-green-500;
}

.btn-green:hover {
    @apply .bg-green-600;
}

.label {
    @apply .block .font-bold .text-gray-700 .text-sm;
}

.input {
    @apply .appearance-none .bg-gray-300 .border .rounded .leading-tight .py-2 .px-2 .shadow;
}

.input-text {
    @apply .input .text-gray-700;
}

.input-text:focus {
    @apply .outline-none .bg-white .border-pink-600;
}

.input-option {
    @apply .input .text-gray-700;
}

.input-option:hover {
    @apply .input .outline-none .bg-white .border-pink-600;
}

.box {
    @apply .bg-white .text-gray-500 .border .rounded-lg .p-2;
}

.box-item {
    @apply .text-pink-600;
}

.box-item:hover {
    @apply .text-pink-800;
}

.box-header {
    @apply .inline-block .border .rounded .shadow-2xl .bg-purple-700 .px-3 .py-2 .w-full .text-white .font-bold
}



.link {
    @apply .text-blue-500
}

.link:hover {
    @apply .text-blue-700
}

.error {
    @apply .text-red-600 .font-bold .my-2 .mx-2
}

.modal {

}




